#Home {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/Project/Images/Background2.jpeg') no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

    .navbar-nav .nav-link {
        color: white !important;
    }
    
    .navbar-nav .nav-link.active {
        color: white !important;
    }

    .open-sans-bold {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        color: white;
    }

    .libre-baskerville-regular {
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: normal;
        color: white;
    }

    #About p{
        font-size: 18px;
        text-align: justify;
    }

    .navbar-toggler-icon {
        filter: brightness(0) invert(1);
    }

    #Projects .col {
        margin-left: -5px;
    }

    #Projects {
        background-color: #f8f9fa;
    }

    #Contact {
        background-color: #f8f9fa;
    }
    
    #Footer ul, #Footer p {
        margin: 0 !important;
        padding: 0 !important;
    }
    
    #Footer ul {
        border-bottom: none !important;
    }
    
html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.container, .container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

  body > * {
    max-width: 100vw;
}

